body {
    margin: 0;
    font-family: Arial;
}

.menu {
    width: 300px;
    margin: 100px auto;
    position: relative;
}

.sandwich {
    background-color: #e02015;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    display: none;
    background-color: white;
    border: 1px solid #ccc;
}

.ingredient {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.ingredient:hover {
    background-color: #eeeeee;
}

.menu:hover .dropdown {
    display: block;
}