.grid {
  display: grid;
  grid-template-columns: 250px;
  margin: 20px;
}

p {
  margin: 0;
  font-family: Arial;
}

.profile-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.picture {
  width: 250px;
  height: 250px;
}

.name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.description1 {
  color: gray;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.description2 {
  color: black;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.icon {
  width: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.all-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contact-button {
  width: 250px;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}